<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Rubik:wght@300&display=swap" rel="stylesheet">
    
</head>
<body>
     <!-- TODO: NAVBAR -->
    <nav class="navbar navbar-light bg-success justify-content-between">
        <div class="container" style="font-family:'Nunito', sans-serif;">
            <a href="/" class="navbar-brand text-white">Your Feedback</a>
            <ul class="nav navbar-nav flex-row float-right">
                {% if session['user_name']  %}
                <li class="nav-item">
                <a class="nav-link pr-3 text-white" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link pr-3 text-white" href="/login">Login</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="/register">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- TODO: ALERT MESSAGES -->
    <div class="container mt-3" 
        style="font-family:'Nunito', sans-serif;">

        {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{category}}">{{ msg }}</div>
        {% endfor %}

        <!-- TODO: CONTENT -->
        {% block content %}
            <!-- ! content in each template goes here -->
        {% endblock %}
    </div>    
</body>
</html>